html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

@keyframes entrada-desde-arriba {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animacion-entrada {
    font-size: 50px;
    animation: entrada-desde-arriba 1s ease-out;
}

header {
    background-color: #F4C2C2;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color:#a72892;

}

nav ul li:hover {
    transform: scale(1.1);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

footer {
    background-color: #F4C2C2;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h2 {
    transition: color 0.5s ease;
}

h2:hover {
    color: #a72892;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

form textarea {
    resize: vertical;
    min-height: 150px;
}

form button {
    display: block;
    width: 100%;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

form input:focus,
form textarea:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

form .mensaje-exito,
form .mensaje-error {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
}

form .mensaje-exito {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

form .mensaje-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

@keyframes entrada-desde-arriba {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animacion-entrada-formulario {
    animation: entrada-desde-arriba 1.2s ease-out;
}